<html>
  <head>
    <title>Contact us</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <form action="/" class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>Update Employee</h1>
        <input type="text" [(ngModel)]="employee.id" name="id" placeholder="Id">
        <input type="text" [(ngModel)]="employee.name" name="Name" placeholder="Name">
        <textarea  [(ngModel)]="employee.description" name="Description" placeholder="Description..." rows="5"></textarea>
        <input type="text" [(ngModel)]="employee.ocupation" name="Ocupation" placeholder="Ocupation">
        <input type="text" [(ngModel)]="employee.address" name="address" placeholder="address">
        <input type="text" [(ngModel)]="employee.phoneNumber" name="phoneNumber" placeholder="phoneNumber">
        <input type="email" [(ngModel)]="employee.email" name="email" placeholder="email">
        <input type="text" [(ngModel)]="employee.github" name="github" placeholder="github">
        <input type="text" [(ngModel)]="employee.instagram" name="instagram" placeholder="instagram">

        <div *ngIf="msgTrue">Employee updated successfully</div>
        <button (click)="updateEmployee()">Submit</button>
      </div>
    </form>
  </body>
</html>


