
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  margin: 0;
  font-size: 100%;
}
* {
  box-sizing: content-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(black);
}
@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 70%;
  }
}
